.folder-item {
    border-radius: .4rem; /* make 4px instead cause border? */
    padding: .4rem;
    display: flex;
    justify-content: space-between;
}

.folder-dropdown {
    height: 2.1rem;
    width: 2.1rem;
    border: none;
    background: none;
    padding: 0;
}

.folder-name {
    margin: 0;
    font-size: 1.6rem; /* maybe change to dif size*/
}