.card { 
	margin: 0.8rem 0;
	padding: 0.8rem;
	border-radius: 0px; /* 8px */
	background-color: var(--bg-color);
}

.card-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: .2rem 0;
}

.card-title {
	margin: 0;
	font-size: 1.6rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card-options-container {
	height: 2.4rem;
	width: 2.4rem;
	display: flex;
	justify-content: right;
	align-items: center;
}

.card-options-button {
	width: 2.4rem;
	height: 2.4rem;
	border: 0;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-description {
	font-size: 1.4rem;
	margin: 0;
	padding: 0;
	line-height: 1.4;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}