/* Sidebar itself */
.sidebar {
	--padding-side: 8px;
	z-index: 2;
}

.sidebar-inner {
	height: 100%;
	width: 100%;
	background-color: var(--bg-color);
	border-color: var(--border-color);
	border-right-style: solid;
	overflow-y: auto;
	display: flex;
	box-sizing: border-box;
}

/* Folder display */
.folder-display {
	width: 176px;
	border-right: solid var(--border-color);
}

/* Notes display */
.notes-display {
	width: 200px;
	display: flex;
	flex-direction: column;
	overflow-x: visible;
}

.notes-display-inner {
	padding: 0 var(--padding-side);
	overflow: auto;
}

/* Reorder */
.reorder-group {
	padding: 0;
	margin-top: 8px;
}

.reorder-item {
	list-style-type: none;
}