/* Topbar */
.topbar-sidebar {
	padding: 1.6rem 0 0.8rem 0;
	display: flex;
	margin: 0 var(--padding-side) 0 0;
	box-sizing: border-box;
}

/* Topbar items */
.logo-button {
	position: static;
	text-decoration: none;
	color: var(--text-color);
	border: none;
	padding: 0;
}

.logo-text {
	font-size: 3.2rem;
	margin: 0;
	flex-shrink: 0;
}

.dark-mode-toggle {
	display: flex;
	padding: 0;
	margin: 0 1.2rem;
	border: none;
	align-items: center;
}

.topbar-right {
	display: flex;
	justify-content: right;
	background-color: inherit;
	width: 100%;
	padding: 0;
	margin: 0;
}

.collapse-button {
	border: none;
	padding: 0;
	display: flex;
	align-items: center;
}