.ProseMirror {
    outline: none;
    height: 100%;
    margin: 0 8px;
}

/* Basic editor styles */
.tiptap {
    :first-child {
      margin-top: 0;
    }
  
    /* List styles */
    ul,
    ol {
      padding: 0 1rem;
      margin: 1.25rem 1rem 1.25rem 0.4rem;
  
      li p {
        margin-top: 0.25em;
        margin-bottom: 0.25em;
      }
    }
  
    /* Task list specific styles */
    ul[data-type="taskList"] {
      list-style: none;
      margin-left: 0;
      padding: 0;
  
      li {
        align-items: flex-start;
        display: flex;
  
        > label {
          flex: 0 0 auto;
          margin-right: 0.5rem;
          user-select: none;
        }
  
        > div {
          flex: 1 1 auto;
        }
      }
  
      input[type="checkbox"] {
        transform: scale(1.4);
        accent-color: var(--bg-color);
        border: var(gray);
        cursor: pointer;
      }
  
      ul[data-type="taskList"] {
        margin: 0;
      }
    }
  }

.tiptap p.is-editor-empty:first-child::before {
    color: var(--place-holder-color);
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}
  

div:has(> .tiptap) { 
    height : 100%; 
}

.control {
    width: 100%;
}

.control-group {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    background: linear-gradient(135deg, rgba(48, 2, 148, 0.452), rgba(1, 75, 185, 0.512));
    backdrop-filter: blur(50px);
    border-radius: 6px;
    margin: 12px 0;
    padding: 4px;
    font-family: 'Roboto';
    .button-group {
        display: flex;
        align-items: center;
    }
    button {    
        font-family: inherit;
        height: 100%;
        color: var(--text-color);
        border: none;
        padding: 0 2px;
        margin: 0 4px;
        font-size: 14px;
        border-radius: 4px;
    }
    .control-button:hover:not(.is-active) {
        background-color: #a2aaad57;
        color: var(--text-color)
    }
    button:active {
        color: white;
        background-color: #b8c2c6;
    }
    button.is-active {
        color: white;
        background-color: var(--selection-color);
    }

    .dropdown {
        position: relative;
    }

    .dropdown-children {
        position: absolute;
        top: calc(100% + 4px);
        left: 4px;
        border: solid gray .5px;
        border-radius: 6px;
        background: linear-gradient(135deg, #302c3c, #1e1d24);
        background-clip: border-box;
        -webkit-background-clip: border-box;
        width: fit-content;
        padding: 4px 10px;
        margin: 0;
    }
    
    .dropdown-item {
        width: 100%;
        min-width: max-content;
        box-sizing: border-box;
        padding: 3px;
        margin: 0;
        background-color: transparent;
        color: #aeaeae;
        font-size: 13px;
        font-weight: 500;
        .shortcut-name {
            color: var(--text-color);
            margin-right: 24px;
        }
        kbd {
            font-family: inherit;
        }
        kbd:nth-last-child(n + 2){
            margin-right: 4px;
        }
    }
    .dropdown-item:hover {
        color: var(--text-color);
        background-color: var(--selection-color);
    }
}