.sidebar {
  width: 200px;
  padding: 10px 20px;
  flex-shrink: 0;
  border-color: rgb(213, 213, 213);
  border-radius: 1px;
  border-right-style: solid;
}

.reorder-item {
  list-style-type: none;
}

.reorder-group {
  padding: 0 20px;
}

.container {
  display: flex;
}

main {
  width: 100% - 200px;
}

.footer-container {
  background-color: aliceblue;
}

.footer-groups-container {
  display: flex;
  justify-content: space-evenly;
}